@font-face{
  font-family: cooper;
  src:url("assets/fonts/COOPBL.TTF");
}
#load{
  width:100%;
  height: 100vh;
  position:fixed;
  z-index:9995;
  background:no-repeat center center rgba(0,0,0,1);
}
#loadnav{
  width:100%;
  height:100%;
  position:fixed;
  z-index:9950;
  background:no-repeat center center rgba(0,0,0,1);
}

.dropdown-toggle::after {
    margin-left: -0.85em;
}


a:hover.dropdown-item.nav-link.nav2.justify-content-end {
    text-shadow: 0.9px 0.6px 0.5px #ffffff;
    color: #1c1e20;
    background-color: #a16be3;
}
ul.dropdown-menu.show {
    background-color: #5328608a;
}
button.btn.btn-link.nav-link.nav2.justify-content-end.dropdown-toggle.show[aria-expanded="true"] {
    color: #91278b;
    background-color: #a16be3;
    text-shadow: 0.9px 0.6px 0.5px #7300ff, -0.9px -0.6px 0.5px #d4b0ff;
}
.navbar{
  background-color: #1c1c1cd4;
  border-radius:  0 0 1.2em 1.2em;
}
.picopico{
  width:100%;
  height: 100vh;
  position:fixed;
}
/*
.navbar-typer {
 /* display: inline-block;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}*/
/* work.html */
body {
  background-color: #000000;
}
/* The animation code */

@keyframes vid-animation {
  0% {
    width: 0%;
    border-left: 16px solid rgb(206, 244, 231);
    border-right: 16px solid rgb(206, 244, 231);
    color: rgba(255, 255, 255, 0);
    text-shadow: 0px 0px 0px #31de4200, 0 0 0px #00ff9900;
  }
  30% {
    color: rgba(255, 255, 255, 0);

    text-shadow: 0px 0px 0px #31de4200, 0 0 0px #00ff9900;
  }
  50% {
    color: rgba(255, 255, 255, 0);

    text-shadow: 0px 0px 0px #31de4200, 0 0 0px #00ff9900;
  }
  100% {
    width: 100%;
    border-left: 2px solid rgb(110, 110, 110);
    border-right: 2px solid rgb(110, 110, 110);
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px #31de42, 0 0 5px #00ff99;
  }
}
.video-animation {
  animation: 1.5s ease-in 0s 1 alternate vid-animation;
}

.videoWrapper {
  position: relative;
}
.vid-wrapper {
  position: relative;
}
.ani {
  overflow: hidden;
  display: block;
  /*background-color: red;*/
  /*animation: 8s linear 0s 1 alternate example;*/
  object-fit: cover;
  height: 400px;
  /*
  border-left: 16px solid rgb(9, 129, 87);
  border-right: 16px solid rgb(9, 129, 87);
  */
  font-size: 6rem;
  text-shadow: 3px 3px 3px #31de42, 0 0 5px #00ff99;
  border-radius: 5px;
}
.aniv {
  top: 0;
  left: 0;
  width: 65%;
  object-fit: cover;
}
.aniv1 {
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
}

/* This will make sure on mobile screens, the images will be of max 100% width but will also be as large as possible. */
@media (max-width: 767px) {
  .ani {
    font-size: 3rem;
  }
  .aniv {
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
  }
  .aniv1 {
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
  }
  .aniv video {
    top: 0px;
  }
  .aniv1 video {
    top: 0px;
  }
}

/* The 2 video code */

.vid-wrapper2 {
  position: relative;
}

.ani2 {
  overflow: hidden;
  display: block;
  object-fit: cover;
  height: 750px;
  font-size: 5rem;
  border-radius: 5px;
  text-shadow: 3px 3px 3px #5931de, 0 0 5px #b700ff;
}
.aniv2 {
  left: 0;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .ani2 {
    height: 600px;
  }
}
@media (max-width: 767px) {
  .ani2 {
    font-size: 3rem;
    height: 400px;
  }
  .aniv2 {
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
  }
}

/* Overlay text*/
.ani,
.ani2 {
  position: relative;
  transform: translateZ(0);
  will-change: width, border;
}
.overlay-text {
  position: absolute;
  top: 80%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust to perfectly center the text */

  z-index: 1000; /* Ensure text stays on top */
  transition: opacity 0.3s;
}

/* Main CSS */

.protect img {
  pointer-events: none;
  /*border-radius: 5% / 80%;*/
}
.protect video {
  pointer-events: none;
/*  border-radius: 5% / 80%;*/
}
.navbar-brand {
  color: #ffa311;
  animation: 36s linear 0s infinite bushpop;
}
/* This will make sure on mobile screens, the images will be of max 100% width but will also be as large as possible. */
@media (max-width: 767px) {
  .mobile-max-width {
    max-width: 100%;
    width: auto;
  }
}
.gif-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#clickableImage {
  cursor: pointer;
}

#linkWrapper {
  cursor: pointer;
  z-index: 10;
}
.nova-text {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
}
@media (max-width: 767px) {
  .nova-text {
    font-size: 0.9rem;
    font-family: cooper;
    /* font-family: "Press Start 2P", system-ui;
    font-weight: 200;*/
  }
}
h1 {
  font-family: cooper;
  /*
  font-family: "Bebas Neue", sans-serif;
  */
}
.banner-title {
  color: #ffffff;
  text-shadow: 3px 1.5px 0.5px #f70a39, 3.5px 2px 23px #cd70ff;
}
.banner-title .h1 {
  font-size: 15rem;
  text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}

.banner-subtitle {
  color: #ffffff;
  text-shadow: 3px 1.5px 0.5px #9c60bf, 5px 5px 23px #cd70ff;
}
.banner-subtitle .h2 {
  font-size: 12rem;
  text-shadow: 3px 3px 3px #d489ff, 0 0 5px #ff0808;
}

.banner-text {
  color: #ffffff;
  text-shadow: 2.5px 1.5px 0.5px #22ad84, 3.5px 2px 23px #cd70ff;
}
.banner-text .h3 {
  font-size: 2rem;
  text-shadow: 0 0 3px #00aeff, 0 0 5px #0000ff;
}

a {
  font-family: "Bebas Neue", sans-serif;
  font-size: 15rem;
}
.nova-text a {
  font-family: cooper;/*
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;*/
}
@media (max-width: 767px) {
  .nova-text a {
    font-size: 0.95rem;
    font-family: "Press Start 2P", system-ui;
    font-weight: 200;
  }
}

.nav-pills .nav1.nav-link {
  color: #d93646;
  text-shadow: 0.9px 0.6px 0.5px #6f0101, -0.9px -0.6px 0.5px #ffaeae;
  /*text-shadow: 1.3px 0.9px 0.5px #7b26a9;*/
}
.nav-pills .nav2.nav-link {
  color: #a16be3;
  text-shadow: 0.9px 0.6px 0.5px #7300ff, -0.9px -0.6px 0.5px #d4b0ff;
}
.nav-pills .nav3.nav-link {
  color: #4041df;
    text-shadow: 0.9px 0.6px 0.5px #7e750b, -0.9px -0.6px 0.5px #aefffa;
  /*color: #6be389;
  text-shadow: 0.9px 0.6px 0.5px #2ab833;*/
}
.nav-pills .nav4.nav-link {
  color: rgb(14, 180, 213);
  text-shadow: 1.3px 0.9px 0.5px #0f6a7a;
}
/*nav4*/

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  /* background-color: #4f4f4f;
       text-shadow: 3px 1.5px 0.5px #a92926, 3.5px 2px 13px #00ff00;*/
}
.nav-pills .nav1.nav-link.active,
.nav-pills .show > .nav-link.nav1 {
  background-color: #6f6f6f4a;
  text-shadow: 0.9px 0.6px 0.5px #6f0101, -0.9px -0.6px 0.5px #ffaeae, 3px 1.5px 0.5px #7b26a9, 3.5px 2px 13px #00ff00;
  /*text-shadow: 3px 1.5px 0.5px #7b26a9, 3.5px 2px 13px #00ff00;*/
}
.nav-pills .nav2.nav-link.active,
.nav-pills .show > .nav-link.nav2 {
  background-color: #40394561;
  text-shadow: 0.9px 0.6px 0.5px #7300ff, -0.9px -0.6px 0.5px #d4b0ff,2px 1px 0.5px #b82aae, 3.5px 2px 13px #7f00cf;
}
.nav-pills .nav3.nav-link.active,
.nav-pills .show > .nav-link.nav3 {
  background-color:#3945454f;
  color: #4041df;
  text-shadow: 0.9px 0.6px 0.5px #7e750b, -0.9px -0.6px 0.5px #aefffa,3px 1.5px 0.5px #0f7a4d, 3.5px 2px 13px #11f24d;
}
/*.nav-pills .nav3.nav-link.active,
.nav-pills .show > .nav-link.nav4 {
  background-color: #394545;
  text-shadow: 3px 1.5px 0.5px #0f6a7a, 3.5px 2px 13px #11d8f2;
}*/
.nav1,
.nav2,
.nav3,
.nav4 {
 /* font-family: "Monoton", sans-serif;*/
  font-family: "Press Start 2P", system-ui;
}
/*
.nav-pills .nav-link.active, .nav-pills .show>.nav-link .nav2{
       background-color: #4f4f4f;
       text-shadow: 3px 1.5px 0.5px #a92926, 3.5px 2px 13px #00ff00;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link .nav3 {
       background-color: #4f4f4f;
       text-shadow: 3px 1.5px 0.5px #a92926, 3.5px 2px 13px #00ff00;
}
*/
.nav-link {
  font-size: 1.5rem;
}
.navbar-brand {
  font-size: 2rem;
}
.navimg{
    width: 6.2vw;
}
@media (max-width: 1000px) {
  .nav-link {
    font-size: 1.3rem;
  }
}
@media (max-width: 767px) {
    .nav1, .nav2, .nav3, .nav4 {
      /* font-family: "DotGothic16", sans-serif; */
      font-weight: 500;
      font-style: normal;
      font-size: 1.1rem;
    }
}
@media (max-width: 515px) {
    .nav1, .nav2, .nav3, .nav4 {
      /* font-family: "DotGothic16", sans-serif; */
      font-weight: 500;
      font-style: normal;
      font-size: 0.8rem;
    }
}
@media (max-width: 420px) {
    .nav1, .nav2, .nav3, .nav4 {
      /* font-family: "DotGothic16", sans-serif; */
      font-weight: 500;
      font-style: normal;
      font-size: 0.7rem;
    }
}
@media (max-width: 400px) {
    .nav1, .nav2, .nav3, .nav4 {
      /* font-family: "DotGothic16", sans-serif; */
      font-weight: 500;
      font-style: normal;
      font-size: 0.6rem;
    }
}
@media (max-width: 767px) {
  /*.nav-link {
    font-size: 1.2rem;
  }*/
  .navbar-brand {
    font-size: 1.8rem;
  }
  .navimg{
        height: 100%;
        width: 6.2vw;
  }
  /*
  .nav1,
  .nav2,
  .nav3,
  .nav4 {
    font-family: "DotGothic16", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem;
  }**/
}
@media (max-width: 382px) {
  .navbar-brand {
    font-size: 0.5rem;
  }
  /*.nav-link {
    font-size: 1.2rem;
  }*/
  .navbar-brand {
    font-size: 1rem;
  }
  /*
  .nav1,
  .nav2,
  .nav3,
  .nav4 {
    font-size: 0.8rem;
  }*/
}

.objects {
  height: 400px;
  width: 100%;
}
.navbar {
  margin: -35px 0 5px 0; /* This is only an estimate of a margin*/
}

.mask {
  aspect-ratio: 1 / 1;
  animation: 3s ease 0s mask-fall;
}
.maskb {
  aspect-ratio: 1 / 1;
  animation: 3s ease 0s mask-fall, 8s linear 0s infinite bushpop;
}

@keyframes mask-fall {
  from {
    /* pushes the sun down past the viewport */
    transform: translateY(-110vh);
  }
  to {
    /* returns the sun to its default position */
    transform: translateY(0);
  }
}

.bush {
  animation: 10s linear 0s infinite bushpop;
}

@keyframes bushpop {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.eye {
  aspect-ratio: 1 / 1;
  animation: 8s ease 0s infinite alternate eye-fall;
}

@keyframes eye-fall {
  0% {
    transform: translateX(-10vh) translateY(-10vh) scale(0.8);
  }
  10% {
    transform: translateX(-30vh) translateY(0vh) scale(0.9);
  }
  20% {
    transform: translateX(10vh) translateY(3vh) scale(0.7);
  }
  30% {
    transform: translateX(5vh) translateY(-2vh) scale(0.8);
  }
  40% {
    transform: translateX(7vh) translateY(-3vh) scale(0.7);
  }
  50% {
    transform: translateX(8vh) translateY(-1vh) scale(0.7);
  }
  60% {
    transform: translateX(4vh) translateY(4vh) scale(0.6);
  }
  70% {
    transform: translateX(5vh) translateY(3vh) scale(0.5);
  }
  90% {
    transform: translateX(15vh) translateY(-3vh) scale(0.6);
  }
  100% {
    transform: translateX(0vh) translateY(0vh) scale(1);
  }
}

.rocket1 {
  aspect-ratio: 1 / 1;
  animation: 6s linear 0s infinite rocket-man1;
}
.rocket2 {
  aspect-ratio: 1 / 1;
  animation: 6s linear 0s infinite rocket-man2;
}
.rocket3 {
  aspect-ratio: 1 / 1;
  animation: 6s linear 0s infinite rocket-man3;
}

@keyframes rocket-man1 {
  0% {
    transform: translateX(-250vw) translateY(20vh) rotate(60deg) scale(0.8);
  }
  10% {
    transform: translateX(-150vw) translateY(18vh) rotate(65deg) scale(0.9);
  }
  15% {
    transform: translateX(-90vw) translateY(15vh) rotate(70deg) scale(1);
  }
  30% {
    transform: translateX(-55vw) translateY(10vh) rotate(80deg) scale(1);
  }
  45% {
    transform: translateX(-27vw) translateY(3vh) rotate(85deg) scale(1);
  }
  60% {
    transform: translateX(0vw) translateY(0vh) rotate(90deg) scale(1);
  }
  75% {
    transform: translateX(30vw) translateY(2vh) rotate(92deg) scale(1);
  }
  90% {
    transform: translateX(70vw) translateY(10vh) rotate(94deg) scale(1);
  }
  95% {
    transform: translateX(95vw) translateY(15vh) rotate(92deg) scale(1);
  }
  100% {
    transform: translateX(100vw) translateY(20vh) rotate(90deg) scale(1);
  }
}
@keyframes rocket-man2 {
  0% {
    transform: translateX(-250vw) translateY(20vh) rotate(60deg) scale(0.8);
  }
  10% {
    transform: translateX(-150vw) translateY(18vh) rotate(65deg) scale(0.9);
  }
  15% {
    transform: translateX(-90vw) translateY(15vh) rotate(70deg) scale(1);
  }
  30% {
    transform: translateX(-55vw) translateY(10vh) rotate(80deg) scale(1);
  }
  45% {
    transform: translateX(-27vw) translateY(3vh) rotate(85deg) scale(1);
  }
  60% {
    transform: translateX(0vw) translateY(0vh) rotate(90deg) scale(1);
  }
  75% {
    transform: translateX(30vw) translateY(2vh) rotate(92deg) scale(1);
  }
  90% {
    transform: translateX(70vw) translateY(10vh) rotate(94deg) scale(1);
  }
  95% {
    transform: translateX(70vw) translateY(15vh) rotate(92deg) scale(1);
  }
  100% {
    transform: translateX(70vw) translateY(20vh) rotate(90deg) scale(1);
  }
}
@keyframes rocket-man3 {
  0% {
    transform: translateX(-250vw) translateY(20vh) rotate(60deg) scale(0.8);
  }
  10% {
    transform: translateX(-150vw) translateY(18vh) rotate(65deg) scale(0.9);
  }
  15% {
    transform: translateX(-90vw) translateY(15vh) rotate(70deg) scale(1);
  }
  30% {
    transform: translateX(-55vw) translateY(10vh) rotate(80deg) scale(1);
  }
  45% {
    transform: translateX(-27vw) translateY(3vh) rotate(85deg) scale(1);
  }
  60% {
    transform: translateX(0vw) translateY(0vh) rotate(90deg) scale(1);
  }
  75% {
    transform: translateX(30vw) translateY(2vh) rotate(92deg) scale(1);
  }
  90% {
    transform: translateX(40vw) translateY(10vh) rotate(94deg) scale(1);
  }
  95% {
    transform: translateX(40vw) translateY(15vh) rotate(92deg) scale(1);
  }
  100% {
    transform: translateX(40vw) translateY(20vh) rotate(90deg) scale(1);
  }
}

.text_shadows {
  font-size: calc(1rem + 5vw);
}

.kgantitle .text_shadows{
  /*font-size: calc(1rem + 3vw);*/
  font-size: calc(sin(pi / 5)* 3vw);
  pointer-events: none;
  font-family: "Press Start 2P", system-ui;
}

.overtext{
  z-index: 9999;
  position: absolute;
  top: 2%;
  text-align: center;
  align-content: top;
  justify-content: top;
  left: 50%;
  transform: translateX(-50%); /* Adjust for the center alignment */
}

.overtext h3{
  text-align: center;
  align-content: center;
  justify-content: center;
}

.loadscreenvid{
  position: fixed;
  bottom: 0;
  left: 50%; /* Centering horizontally */
  width: 120%; /* Scale down the video */
  height: 120%; /* Keep the same aspect ratio if desired */
  transform: translateX(-50%); /* Adjust for the center alignment */
  z-index:9996;

}
.loadscreenvid video{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 1400px) {
  .loadscreenvid{
    position: fixed;
    bottom: 0;
    left: 50%; /* Centering horizontally */
    width: 650px; /* Scale down the video */
    height: 650px; /* Keep the same aspect ratio if desired */
    transform: translateX(-50%); /* Adjust for the center alignment */

  }
  .loadscreenvid video{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

}

@media (max-width: 1200px) {
  .loadscreenvid{
    width: 100%;
    height: auto; /* Adjust height automatically */
        left: 0;
        transform: translateX(0);
  }
  .loadscreenvid video{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media (max-width: 1025px) {
    .loadscreenvid{
      width: 100%;
      height: auto; /* Adjust height automatically */
          left: 0;
          transform: translateX(0);
    }
    .loadscreenvid video{
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
}
@media (max-width: 767px) {
  .loadscreenvid{
    width: 100%;
    height: auto; /* Adjust height automatically */
        left: 0;
        transform: translateX(0);
  }
  .loadscreenvid video{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .kgantitle{
    text-align: left;
    align-content: center;
    justify-content: center;
    position: sticky;
    /*  left: 50%;*/ /* Centering horizontally */
    /*  transform: translateX(-50%);*/ /* Adjust for the center alignment */
  }

}

:root {
  --color-primary: #d16240;
  --color-invis: rgba(0, 0, 0, 0);
  --color-secondary: #d93646;
  --color-tertiary: #a16be3;
  --color-quaternary: #6be389;
  --color-quinary:rgb(14, 180, 213);

}
.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  color: var(--color-invis);
  animation: shadows 2.1s ease-in infinite, move 2.1s ease-in infinite;
  letter-spacing: 0.4rem;
  transform: matrix(1, -0.13, 0.1, 1, 1, 0);
}

@keyframes shadows {
  0% {
    text-shadow: 0.1px 0.1px 0 var(--color-primary);
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary),
    0.1px 0.1px 0 var(--color-primary);
  }
  20% {
    text-shadow: 6px 6px 0 var(--color-tertiary),
      3px 3px 0 var(--color-secondary),
    0.1px 0.1px 0 var(--color-primary);
  }
  30% {
    text-shadow:  9px 9px var(--color-quaternary),
     6px 6px 0 var(--color-tertiary),
      3px 3px 0 var(--color-secondary),
    0.1px 0.1px 0 var(--color-primary);
  }
  40% {
    text-shadow: 12px 12px 0 var(--color-quinary),
      9px 9px var(--color-quaternary),
     6px 6px 0 var(--color-tertiary),
      3px 3px 0 var(--color-secondary),
    0.1px 0.1px 0 var(--color-primary);
  }
  50% {
    text-shadow: 12px 12px 0 var(--color-quinary),
      9px 9px var(--color-quaternary),
     6px 6px 0 var(--color-tertiary),
      3px 3px 0 var(--color-secondary),
    0.1px 0.1px 0 var(--color-primary);
  }
  60% {
    text-shadow: 12px 12px 0 var(--color-quinary),
      9px 9px var(--color-quaternary),
     6px 6px 0 var(--color-tertiary),
      3px 3px 0 var(--color-secondary),
    0.1px 0.1px 0 var(--color-primary);
  }
  70% {
    text-shadow: 9px 9px var(--color-quaternary),
     6px 6px 0 var(--color-tertiary),
      3px 3px 0 var(--color-secondary),
    0.1px 0.1px 0 var(--color-primary);
  }
  80% {
    text-shadow: 6px 6px 0 var(--color-tertiary),
      3px 3px 0 var(--color-secondary),
    0.1px 0.1px 0 var(--color-primary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary),
    text-shadow: 0.1px 0.1px 0 var(--color-primary);
  }
  100% {
    text-shadow: 0.1px 0.1px 0 var(--color-primary);
  }
}
/*
.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  color: var(--color-invis);
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: 0.1px 0.1px 0 var(--color-primary);
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: 0.1px 0.1px 0 var(--color-primary);
  }
}
*/
@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
