@font-face {
    font-family: cooper;
    src: url("../fonts/COOPBL.TTF");
  }
  h1 {
    font-family: "Geo", sans-serif;
  }
  #northboundResults, #southboundResults {
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
  position: relative;
  }
  #northboundResults.fade-out, #southboundResults.fade-out {
  opacity: 0;
  }
  @keyframes cardFadeIn {
  from {
  opacity: 0;
  transform: translateY(10px);
  }
  to {
  opacity: 1;
  transform: translateY(0);
  }
  }
  .train-card.train-card-animate {
    animation: cardFadeIn 0.7s cubic-bezier(0.23, 1, 0.32, 1) forwards;
  }
  .train-card {
  border-radius: 16px;
  display: grid;
  height: 18rem;
  flex: calc(50% - 2rem);
  padding: 0.5rem;
  background-color: #f1efff;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.51);
  margin: 0;
  opacity: 1;
  transform: translateY(0);
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  }
  .station-card {
    display: inline-block;
    background: #c4abd8;
    box-shadow: inset 0px 5px 7px 1px #0000005e;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    color: #634d76;
    text-align: center;
    transition: 0.2s all;
  }
  div#stationCardsContainer {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
  }
  div#stationSearchContainer {
    margin-top: 1rem;
  }
  @media (max-width: 600px) {
    .station-card {
      font-size: 1rem;
      padding: 0.4rem 0.7rem;
    }
  }
  #trainContainer h3 {
    font-size: 3rem;
    padding: 0;
    margin: 0;
    font-weight: 900;
    color: transparent;
    background: #02415a;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 1.3px rgba(255, 255, 255, 0.5);
  }
  h2#selectedStationHeader {
    padding: 2rem 0;
    font-size: calc(3vw + 3.42vh);
    background: #26004d;
    background-clip: text;
    text-shadow: 0px 3px 1.3px rgba(255, 255, 255, 0.5);
    margin: 0;
    font-weight: 900;
    color: transparent;
  }
  .station-card:hover {
    background: #634d76;
    color: #c4abd8;
  }
  #northboundColumn, #southboundColumn {
    display: none;
  }
  #mobileSwitchDirection {
    display: none;
    margin: 0 auto;
  }
  input#stationSearch{
    width: 75%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.2rem;
  }
  @media (max-width: 600px) {
    h2#selectedStationHeader {
      padding: 0;
      font-size: calc(3vw + 3.42vh);
      background: #26004d;
      background-clip: text;
      text-shadow: 0px 3px 1.3px rgba(255, 255, 255, 0.5);
      margin: 0;
      font-weight: 900;
      color: transparent;
    }
    #mobileSwitchDirection {
      display: block;
    }
  }
  @media (max-width: 600px) {
    #northboundColumn, #southboundColumn {
      flex: 1 0 100%; 
      min-width: auto; /* override the min-width:300px if it’s too wide for small phones */
    }
    .train-card {
      border-radius: 16px;
      display: grid;
      height: 8rem;
    }
  }
  .modal {
    transition: all 0.212s cubic-bezier(0.4, 0, 1, 1);
    opacity: 0;
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(34 24 55 / 71%);
  }
  .modal-content * {
    font-family: "Goldman", serif;
  }
  .modal-content {
    box-shadow: inset 0 -4px 8px -2px #000000a3, inset 0 1px 5px -3px #797979f0;
    border-color: #ffffff #d5d5d5 #33333380 #d5d5d5;
    border-style: solid;
    border-width: 2px 6px 19px 6px;
    display: flex;
    text-align: center;
    background-color: #faf9f6;
    margin: 10% auto;
    padding: 1rem 0;
    border-radius: 8px;
    width: 90%;
    max-width: 969px;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .modal-content h2{
    font-size: 1.2rem
  }
  .modal-content div {
    margin: 8px 15px;
  }
  .modal-content label {
    font-size: 1.6rem;
  }
  .modal-content select {
    padding: 1px 0;
    border-radius: 9px;
    font-size: 0.95rem;
  }
  .modal-content input {
    padding: 1px 0;
    border-radius: 8px;
    font-size: 1.15rem;
  }
  .modal-element{
    place-self: center;
  }
  .modal-selection{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  hr {
    width: 100%;
    height: 0.5rem;
    box-shadow: inset 0 0 3px 0px #4444443d;
  }
  
  .close {
    color: #333;
    /*position: absolute;
    top: 0.5rem;
    right: 1rem;*/
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
  }
  .close:hover {
    color: #999;
  }
  .stations-collapsible {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }
  .stations-collapsible.active {
    max-height: 1000px;
    overflow-y: auto;
  }
  @media (max-width: 600px) {
    .modal-content label {
      font-size: 1.45rem;
    }
  }
  @media (max-width: 390px) {
    .modal-content label {
      font-size: 0.9rem;
    }
    .modal-content select {
      padding: 1px 0;
      border-radius: 9px;
      font-size: 0.8rem;
    }
    .modal-content input {
      padding: 1px 0;
      border-radius: 8px;
      font-size: 1rem;
    }
  }
  .geo-regular {
    font-family: "Geo", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .geo-regular-italic {
    font-family: "Geo", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  .poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  .poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  .poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
  }
  .poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
  }
  .poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
  }
  .poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
  }
  .poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
  }
  .poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
  }
  .poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
  }
  .poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
  }
  .poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
  }
  .poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
  }
  .poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
  }
  .limelight-regular {
    font-family: "Limelight", serif;
    font-weight: 400;
    font-style: normal;
  }
  .honk {
    font-family: "Honk", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 15,
      "SHLN" 50;
  }
  .goldman-regular {
    font-family: "Goldman", serif;
    font-weight: 400;
    font-style: normal;
  }
  .goldman-bold {
    font-family: "Goldman", serif;
    font-weight: 700;
    font-style: normal;
  }
  a {
    text-decoration: none
  }
  a:hover {
    text-decoration: none;
  }
  a:hover.dropdown-item.nav-link.nav2.justify-content-end {
    text-shadow: 0.9px 0.6px 0.5px #ffffff;
    color: #1c1e20;
    background-color: #a16be3;
  }
  ul {
    list-style-type: none;
  }
  .navbar {
    border-radius: 9px;
    margin: 0.8rem;
    line-height: 1.5;
    /*max-width: 100vw;*/
    background-color: #897aa4;
    /*border-bottom: #6a4674 solid 0.3rem;*/
    box-shadow: 0px 10px 9px 0px rgba(0, 0, 0, 0.41);
    z-index: 50;
    position: sticky;
    top: 0;
    /*
    animation: navbarAnimation 4s cubic-bezier(1,0,0,1) 0s 1 normal;*/
  }
  @media (max-width: 767px) {
    .navbar {
      margin: 0.2rem;
    }
  }
  @keyframes navbarAnimation {
    0% {
      transform: translateY(0vh);
    }
    25%,
    50% {
      transform: translateY(40vh);
    }
    100% {
      transform: translateY(0vh);
    }
  }
  .nav-flex {
    border-radius: inherit;
    display: flex;
    box-shadow: inset 0px -10px 9px 0px rgba(39, 39, 39, 0.41);
    justify-content: space-between;
  }
  .content-text {
    margin-top: 0;
    padding-top: 2rem;
  }
  .box-shadow {
    box-shadow: inset 0px 10px 9px 0px rgba(0, 0, 0, 0.41);
  }
  .nav-flex-sub {
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 1.2em 1.2em;
  }
  .nav-flex-push {
    margin-left: auto;
  }
  .nav-item {
    padding: 0 1vw;
    align-self: center;
    box-shadow: inset 0px 10px 9px 3px rgba(0, 0, 0, 0.51);
    margin: 0 .3rem;
    border-radius: 7px;
  }
  .nav-item:nth-child(1) {
    animation: navbarItemAnimation 3s ease 0.25s 1 normal;
  }
  .nav-item:nth-child(2) {
    animation: navbarItemAnimation 3s ease 0.6s 1 normal;
  }
  .nav-item:nth-child(3) {
    animation: navbarItemAnimation 3s ease 0.95s 1 normal;
  }
  @keyframes navbarItemAnimation {
    0%,
    100% {
      transform: translateY(0rem);
      transform: scale3d(1, 1, 1);
      background-color: #00000000;
      box-shadow: inset 0px 10px 9px 3px rgba(0, 0, 0, 0.51);
    }
    15% {
      box-shadow: 0px -15px 15px 0px rgba(255, 255, 255, 0.51);
    }
    25% {
      transform: translateY(10rem);
      background-color: #9f5c77;
    }
    30% {
      transform: translateY(10rem);
      transform: scale3d(0.75, 1.25, 1);
      box-shadow: 0px 10px 15px 0px rgba(255, 255, 255, 0.51);
    }
    40% {
      transform: translateY(10rem);
      background-color: #8e3f6e;
      transform: scale3d(1.25, 0.75, 1);
      box-shadow: 0px 10px 14px 0px rgba(255, 227, 227, 0.51);
    }
    50% {
      transform: translateY(10rem);
      background-color: #821b734b;
      transform: scale3d(0.85, 1.15, 1);
      box-shadow: 0px 5px 14px -2px rgba(255, 255, 255, 0.51);
    }
    65% {
      transform: scale3d(1.05, 0.95, 1);
      background-color: #87368a65;
      box-shadow: 0px 5px 14px -12px rgba(152, 152, 152, 0.166);
    }
    75% {
      transform: scale3d(0.95, 1.05, 1);
      background-color: #613a718c;
      box-shadow: inset 0px 10px 9px 3px rgba(0, 0, 0, 0);
    }
    90% {
      background-color: #66447474;
      box-shadow: inset 0px 10px 9px 3px rgba(0, 0, 0, 0.359);
    }
  }
  @keyframes NavT {
    0%,
    100% {
      transform: translateY(0rem);
      transform: translateX(0%);
      transform-origin: 50% 50%;
      background-color: #00000000;
    }
    15% {
      transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      transform: translateX(15px) rotate(6deg);
    }
    45% {
      transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  .nav-link {
    padding: 0 1vw;
    align-self: center;
    border-radius: 0.375rem;
  }
  .main-content {
    overflow: hidden;
  }

  .container-block {
    overflow: hidden;
    /*padding: calc(1em + 1vh) 0;*/
    font-weight: 300;
    line-height: 1.2;
    padding-bottom: 1.5rem !important;
    text-align: center !important;
  }
  .content-block {
    padding: 0.8rem 0.6rem;
  }
  @media (min-width: 1250px) {
    .content-block {
      padding: 1.5rem 11rem;
    }
  }
  .bg-white {
    background-color: #FAF9F6;
  }
  .container-block.bg-white {
    background-color: #FAF9F6;
    color: #000000;
  }


  .footer-block {
    box-shadow: inset 0px 10px 15px -2px rgba(0, 0, 0, 0.58);
    justify-content: center;
    align-content: center;
    place-items: center;
    display: flex;
    background-color: #897aa4;
    color: #000000;
    height: 20vh;
    width: 100%;
    font-weight: 300;
    line-height: 1.2;
    text-align: left;
    text-align: center;
  }
  html:before {
    content: '';
    position: fixed;
    width: 100%;
    height: 999px;
    top: -999px;
    background-color: #897aa4;
  }
  @keyframes textRotate {
    100% {
      transform: rotate(360deg);
    }
  }


  .scroll {
    align-content: center;
    position: relative;
    width: 100vw;
    overflow: hidden;
    z-index: 1;
    margin: 0;
    padding: 0;
  }
  .m-scroll {
    align-content: center;
    overflow: hidden;
    height: 5rem;
    transition: height 20s;
    white-space: nowrap;
    margin: 0;
    font-size: 0;
    display: inline-block;
  }
  .ani-ctrl-m-scroll {
    animation: scrollText 7s infinite linear;
  }
  :root {
    --gradeint-scroll1-1: #f08181;
    --gradeint-scroll1-2: #ffd37a;
    --gradeint-scroll1-3: #ff5555;
    --gradeint-scroll1-4: #ac0f0f;
    --gradeint-scroll1-5: #c53434;
    --gradeint-scroll1-6: #4b0707;
    --gradeint-scroll2-1: #f4e0e8;
    --gradeint-scroll2-2: #ffffff;
    --gradeint-scroll2-3: #7761ff;
    --gradeint-scroll2-4: #fbaaaa;
    --gradeint-scroll2-5: #94bbe9;
    --gradeint-scroll2-6: #b794e9;
    --color-s-primary: #58d140;
    --color-s-invis: rgba(0, 0, 0, 0);
    --color-s-secondary: #b0d936;
    --color-s-tertiary: #e3d76b;
    --color-s-quaternary: #e3a56b;
    --color-s-quinary: rgb(213, 14, 14);
  }
  html {
    scroll-behavior: smooth;
  }
  * {
    margin: 0;
    padding: 0;
  }
  span {
    font-size: 3rem;
    display: inline-block;
    min-width: 80vw;
    margin: 0;
    padding: 0;
  }
  @media (min-width:1024px) {
    span {
      font-size: 3rem;
      transition: font-size 20s;
      min-width: 40vw;
    }
  }
  .content-text {
    font-size: 4.72vw;
  }
  @media (min-width: 1250px) {
    .content-text {
      font-size: 3.412vw;
    }
  }
  body {
    padding: 0;
    margin: 0;
    font-family: "Goldman", serif;
    font-weight: 700;
    font-style: normal;
    background-color: #897aa4;
  }
  /* Main CSS */
  .m-scroll span,
  .r-scroll span {
    pointer-events: none;
    user-select: none;
  }
  .protect img {
    pointer-events: none;
  }
  .protect video {
    pointer-events: none;
  }
  .navbar-brand {
    color: #000000;
    animation: 36s linear 0s infinite bushpop;
  }
  .gif-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #clickableImage {
    cursor: pointer;
  }
  #linkWrapper {
    cursor: pointer;
    z-index: 10;
  }
  .nova-text {
    font-family: "Goldman", serif;
    font-weight: 700;
    font-style: normal;
  }
  @media (max-width: 767px) {
    .nova-text {
      font-size: 0.9rem;
    }
  }
  .banner-text {
    color: #865592;
    text-shadow: -1.5px -2px 0px #cba8ff, 1.5px 2px 0px #3c1b6e, 2.5px 3px 0px #7f33bb;
  }
  .train-banner-text {
    margin: 0;
    font-weight: 500;
    color: #000000;
  }
  .card {
    display: grid;
    height: 18rem;
    flex: calc(50% - 2rem);
    padding: 0.5rem;
    background-color: #282828;
    box-shadow: inset 0px 10px 9px 3px rgba(0, 0, 0, 0.51);
    margin: 0;
  }
  .card-footer {
    align-content: end;
  }
  .card-text {
    font-size: 1rem;
  }
  @media (min-width: 1250px) {
    .card-text {
      font-size: 2.412rem;
    }
  }
  .card-title {
    font-size: 1.3rem;
  }
  @media (min-width: 1250px) {
    .card-title {
      font-size: 2.812rem;
    }
  }
  .card-link {
    box-shadow: inset 0px 8px 9px 3px rgba(0, 0, 0, 0.51);
    border-radius: 5px;
    padding: 0.2rem 0.7rem;
    margin: 0;
    font-weight: 900;
    color: transparent;
    font-size: 1.5rem;
    background: #ff0083;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 2.2px 1.3px rgba(255, 255, 255, 0.5);
  }
  .banner-box {
    box-shadow: inset 0px 10px 9px 3px rgba(0, 0, 0, 0.51);
    border-radius: 0 0 10px 10px;
    background-color: #00000027;
    width: fit-content;
    margin: auto;
    padding-top: 30vh;
    padding-bottom: 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    animation: bannerBox 2s ease-out 0s 1 normal;
  }
  @keyframes bannerBox {
    0% {
      padding-top: 0;
      filter: blur(10px);
    }
    100% {
      padding-top: 30vh;
      filter: blur(0px);
    }
  }
  
  .light-banner-text {
    margin: 0;
    font-weight: 900;
    color: transparent;
    background: #331962;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 1.3px rgba(255, 255, 255, 0.5);
  }
  .contact-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0em;
    grid-template-areas:
      ". . . . . .";
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    box-shadow: 0px -10px 15px -2px rgba(0, 0, 0, 0.58);
  }
  @media (max-width:1000px) {
    .contact-block {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 0.3rem 0.1rem;
      grid-template-areas:
        ". . . ";
      justify-content: center;
      align-content: center;
      justify-items: center;
      align-items: center;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      box-shadow: 0px -10px 15px -2px rgba(0, 0, 0, 0.58);
    }
  }
  .contact-block>div:nth-child(even) {
    background-color: #ffffff00;
  }
  .contact-block>div:nth-child(odd) {
    background-color: #ffffff20;
  }
  .contact-sub {
    border: solid #403457d6 1px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.6fr;
    gap: 0 0;
    grid-template-areas:
        "."
        ".";
    justify-content: space-evenly;
    align-content: center;
    justify-items: center;
    align-items: center;
    padding-top: 0.8rem;
    box-shadow: inset 16px 0 7px -11px rgb(52 34 86 / 59%), inset -16px 0 11px -11px rgb(56 39 87 / 86%), inset 0px 0 0 0 rgb(170 156 196), inset 0px 0 0 0 rgb(170 156 196), inset 0px 0 0 0 rgb(170 156 196), inset 0px 0 0 0 rgb(170 156 196);
    }
  .contact-sub h1 {
        place-content: center;
        height: 100%;
        text-align: center;
        width: 83%;
        box-shadow: inset 0px 4px 7px 4px rgba(0, 0, 0, 0.41);
        border-radius: 4px;
        padding: 0.2rem 0.1rem;
        margin: 0;
        font-weight: 900;
        color: transparent;
        background: #331962;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 2px 1.3px rgb(255 255 255 / 50%);
        font-size: 1.35rem;
    }
  .contact-sub img {
    filter: invert(50%) saturate(154%) sepia(99%) hue-rotate(228deg);
    width: 2rem;
  }
  @media (min-width: 1250px) {
    .contact-sub h1 {
      font-size: 2.1rem;
    }
    .contact-sub img {
      width: 4rem;
    }
  }
  .light-banner-link {
    color: #bb88ff;
    text-shadow: -1.5px -2px 0px #febbf3, 1.5px 2px 0px #54097a, 2.5px 3px 0px #2a0869;
  }
  .banner-text .h3 {
    font-size: 2rem;
    text-shadow: 0 0 3px #00aeff, 0 0 5px #0000ff;
  }
  a {
    font-family: "Bebas Neue", sans-serif;
  }
  .nova-text a {
    font-family: "Goldman", serif;
    font-weight: 700;
    font-style: normal;
  }
  @media (max-width: 767px) {
    .nova-text a {
      font-size: 0.95rem;
      font-family: "Goldman", serif;
      font-weight: 700;
      font-style: normal;
    }
  }
  .nav-pills .nav1.nav-link {
    color: #d93646;
    text-shadow: 0.9px 0.6px 0.5px #6f0101, -0.9px -0.6px 0.5px #ffaeae;
  }
  .nav-pills .nav2.nav-link {
    margin: 0;
    font-weight: 900;
    color: transparent;
    background: #651f7a;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 1px rgba(255, 255, 255, 0.5);
  }
  .nav-pills .nav3.nav-link {
    color: #4041df;
    text-shadow: 0.9px 0.6px 0.5px #7e750b, -0.9px -0.6px 0.5px #aefffa;
  }
  .nav-pills .nav4.nav-link {
    color: rgb(14, 180, 213);
    text-shadow: 1.3px 0.9px 0.5px #0f6a7a;
  }
  .nav-pills .nav1.nav-link.active,
  .nav-pills .show>.nav-link.nav1 {
    background-color: #6f6f6f4a;
    text-shadow: 0.9px 0.6px 0.5px #6f0101, -0.9px -0.6px 0.5px #ffaeae, 3px 1.5px 0.5px #7b26a9, 3.5px 2px 13px #00ff00;
  }
  .nav-pills .nav2.nav-link.active,
  .nav-pills .show>.nav-link.nav2 {
    background-color: #40394561;
    text-shadow: 0.9px 0.6px 0.5px #7300ff, -0.9px -0.6px 0.5px #d4b0ff, 2px 1px 0.5px #b82aae, 3.5px 2px 13px #7f00cf;
  }
  .nav-pills .nav3.nav-link.active,
  .nav-pills .show>.nav-link.nav3 {
    background-color: #3945454f;
    color: #4041df;
    text-shadow: 0.9px 0.6px 0.5px #7e750b, -0.9px -0.6px 0.5px #aefffa, 3px 1.5px 0.5px #0f7a4d, 3.5px 2px 13px #11f24d;
  }
  .nav1,
  .nav2,
  .nav3,
  .nav4 {
    font-family: "Goldman", serif;
    font-weight: 700;
    font-style: normal;
  }
  .nav-link {
    font-size: 2rem;
  }
  .navbar-brand {
    font-size: 2rem;
  }
  .navimg {
    width: 6.2vw;
  }
  @media (max-width: 1000px) {
    .nav-link {
      font-size: 1.4rem;
    }
  }
  @media (max-width: 767px) {
    .nav1,
    .nav2,
    .nav3,
    .nav4 {
      font-weight: 500;
      font-style: normal;
      font-size: 1.1rem;
    }
  }
  @media (max-width: 515px) {
    .nav1,
    .nav2,
    .nav3,
    .nav4 {
      font-weight: 500;
      font-style: normal;
      font-size: 0.8rem;
    }
  }
  @media (max-width: 420px) {
    .nav1,
    .nav2,
    .nav3,
    .nav4 {
      font-weight: 500;
      font-style: normal;
      font-size: 0.7rem;
    }
  }
  @media (max-width: 400px) {
    .nav1,
    .nav2,
    .nav3,
    .nav4 {
      font-weight: 500;
      font-style: normal;
      font-size: 0.6rem;
    }
  }
  @media (max-width: 767px) {
    .nav-link {
      font-size: 1.2rem;
    }
    .navbar-brand {
      font-size: 1.8rem;
    }
    .navimg {
      height: 100%;
      width: 6.2vw;
    }
  }
  @media (max-width: 382px) {
    .navbar-brand {
      font-size: 0.5rem;
    }
    .nav-link {
      font-size: 0.9rem;
    }
    .navbar-brand {
      font-size: 1rem;
    }
    .nav1,
    .nav2,
    .nav3,
    .nav4 {
      font-size: 0.9rem;
    }
  }
  .bush {
    animation: 10s linear 0s infinite bushpop;
  }
  @keyframes bushpop {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(360deg);
    }
  }
  .text_shadows {
    font-size: calc(1rem + 5vw);
  }
  .kgantitle {
    padding: 0 0.5rem 0.5rem 0.5rem;
    box-shadow: 2px -6px 14px 0.9px #000000ad;
    border-radius: inherit;
  }
  .kgantitle .text_shadows {
    /*font-size: calc(1rem + 3vw);*/
    font-size: calc(sin(pi / 5)* 5vw);
    pointer-events: none;
    font-family: "Goldman", serif;
    font-weight: 700;
    font-style: normal;
  }
  @media (max-width: 767px) {
    .kgantitle {
      text-align: left;
      align-content: center;
      justify-content: center;
      position: sticky;
      /*  left: 50%;*/
      /* Centering horizontally */
      /*  transform: translateX(-50%);*/
      /* Adjust for the center alignment */
    }
  }
  :root {
    --color-primary: #d16240;
    --color-invis: rgba(0, 0, 0, 0);
    --color-secondary: #d93646;
    --color-tertiary: #a16be3;
    --color-quaternary: #6be389;
    --color-quinary: rgb(14, 180, 213);
  }
  .text_shadows {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
      9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    color: var(--color-invis);
    animation: shadows 2.1s ease-in infinite, move 2.1s ease-in infinite;
    letter-spacing: 0.4rem;
    transform: matrix(1, -0.13, 0.1, 1, 1, 0);
  }
  @keyframes shadows {
    0% {
      text-shadow: 0.1px 0.1px 0 var(--color-primary);
    }
    10% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        0.1px 0.1px 0 var(--color-primary);
    }
    20% {
      text-shadow: 6px 6px 0 var(--color-tertiary),
        3px 3px 0 var(--color-secondary),
        0.1px 0.1px 0 var(--color-primary);
    }
    30% {
      text-shadow: 9px 9px var(--color-quaternary),
        6px 6px 0 var(--color-tertiary),
        3px 3px 0 var(--color-secondary),
        0.1px 0.1px 0 var(--color-primary);
    }
    40% {
      text-shadow: 12px 12px 0 var(--color-quinary),
        9px 9px var(--color-quaternary),
        6px 6px 0 var(--color-tertiary),
        3px 3px 0 var(--color-secondary),
        0.1px 0.1px 0 var(--color-primary);
    }
    50% {
      text-shadow: 12px 12px 0 var(--color-quinary),
        9px 9px var(--color-quaternary),
        6px 6px 0 var(--color-tertiary),
        3px 3px 0 var(--color-secondary),
        0.1px 0.1px 0 var(--color-primary);
    }
    60% {
      text-shadow: 12px 12px 0 var(--color-quinary),
        9px 9px var(--color-quaternary),
        6px 6px 0 var(--color-tertiary),
        3px 3px 0 var(--color-secondary),
        0.1px 0.1px 0 var(--color-primary);
    }
    70% {
      text-shadow: 9px 9px var(--color-quaternary),
        6px 6px 0 var(--color-tertiary),
        3px 3px 0 var(--color-secondary),
        0.1px 0.1px 0 var(--color-primary);
    }
    80% {
      text-shadow: 6px 6px 0 var(--color-tertiary),
        3px 3px 0 var(--color-secondary),
        0.1px 0.1px 0 var(--color-primary);
    }
    90% {
      text-shadow: 3px 3px 0 var(--color-secondary),
      0.1px 0.1px 0 var(--color-primary);
    }
    100% {
      text-shadow: 0.1px 0.1px 0 var(--color-primary);
    }
  }
  .train-btn {
    border: solid #00000080;
    border-width: 2px 1px 2px 1px;
    border-radius: 11% / 23px;
    box-shadow: 0 0px 3px 2px rgb(145 145 145 / 44%), 0 7px 3px -4px rgb(0 0 0 / 41%), inset 0 4px 3px 2px rgba(0, 0, 0, 0.19);
    background-color: #c4abd8;
    font-family: "Goldman", serif;
    font-weight: 500;
    color: #634d76;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.8rem;
    margin: 1rem 2rem;
    cursor: pointer;
    transition: all 0.35s cubic-bezier(0.55, 0.06, 0.68, 0.19);
  }
  .train-btn:hover {
    margin: 1rem 3rem;
    box-shadow: 0px -6px 15px -5px rgb(193 149 255), 0 8px 7px -1px rgb(201 172 238 / 39%), inset 0px -19px 9px -7px rgb(222 204 255);
    border-color: #776a9880 #9f91c280 #c7b0ff80 #9f91c280;
  }
  .train-btn:active {
    border-color: #a595ccd9 #a595ccd9 #a595ccd9 #a595ccd9;
    box-shadow: 0px 3px 7px 0px rgb(59 41 85), 0 8px 20px 1px rgb(179 119 255 / 39%), inset 0px 15px 10px -5px rgb(91 33 136 / 71%) !important;
    background-color: #634d76;
    color: #c4abd8;
    transform: translateY(4px);
  }
  /* Make them smaller on narrower screens */
  @media (max-width: 600px) {
    .train-btn {
      font-size: 1.16rem;
      padding: 0.6rem 1.2rem;
      margin: 0.2rem;
    }
    .train-btn:hover {
      margin: 0.2rem;
    }
  }
  .select-dropdown,
  .select-dropdown * {
    font-size: 1.5rem;
    font-family: "Goldman", serif;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
  }
  .select-dropdown {
    position: relative;
    background-color: #c4abd8;
    box-shadow: inset 0px 10px 7px 1px #0000005e;
    border-radius: 10px;
  }
  .select-dropdown select option {
    color: #865592;
    text-shadow: -1.5px -2px 0px #cba8ff, 1.5px 1px 0px #3c1b6e, 2px 1.5px 0px #7f33bb;
  }
  .select-dropdown select {
    width: 100%;
    max-width: 100%;
    padding: 8px 24px 8px 10px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .select-dropdown select:active,
  .select-dropdown select:focus {
    outline: none;
    box-shadow: none;
  }
  .select-dropdown:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    width: 0;
    height: 0;
    margin-top: -2px;
    border-radius: 10px;
    border-top: 5px solid #aaa;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }
  div#Northbound.card,
  div#Southbound.card {
    height: 12rem;
  }
  div#Northbound.card {
    filter: sepia(.7);
  }
  div#Southbound.card {
    filter: sepia(.3);
  }
  @media (max-width: 550px) {
    div#Northbound.card,
    div#Southbound.card {
      height: 9rem;
    }
  }
  @keyframes move {
    0% {
      transform: translate(0px, 0px);
    }
    40% {
      transform: translate(-12px, -12px);
    }
    50% {
      transform: translate(-12px, -12px);
    }
    60% {
      transform: translate(-12px, -12px);
    }
    ;
    100% {
      transform: translate(0px, 0px);
    }
  }